<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Proyecto Agenda</h1>
            <h3 class="mb-5">
                <em>Almacena actividades y reportes de tu área</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Click para empezar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>